<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.welcome.lets_split">

    <application
        android:allowBackup="true"
        android:icon="@drawable/a"
        android:label="Lets-Split"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".splashActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".second_page" />
        <activity android:name=".third_page" />

    </application>

</manifest>